{% extends "english_dict/header.html" %}
{% block content %}
    <h1>Вход:</h1>
    <p class="error-text">{{ error }}</p>
    <p>Пожалуйста, введите логин и пароль:</p>
    <form action="." method="post">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
            </p>
        {% endfor %}    
        <p><input type="submit" value="Log in"></p>
        <input type="hidden" name="continue" value="{{ continue }}">
    </form>
{% endblock %}