{% extends "english_dict/header.html" %}

{% block content %}
{% load static %}
<h2>Звуки</h2>
<p>International Phonetic Alphabet - международный фонетический алфавит, используемый для транскрипции</p>
<br>
<h3>Согласные</h3>
<h4>Как русский</h4>
<table >
    <tr>
        <td>[b]</td>
        <td>book близок к русскому звуку "б"</td>
    </tr>
    <tr>
        <td>[f]</td>
        <td>fox	близок к русскому "ф"</td>
    </tr>
    <tr>
        <td>[v]</td>
        <td>vane близок к русскому "в"</td>
    </tr>
    <tr>
        <td>[h]</td>
        <td>hot	отдаленно напоминает русский звук "х", но звучит, как простой выдох</td>
    </tr>
    <tr>
        <td>[s]</td>
        <td>send твердая "с", никогда не смягчается подобно тому, как в слове "семь"</td>
    </tr>
    <tr>
        <td>[z]</td>
        <td>zebra близок к русскому "з"</td>
    </tr>
    <tr>
        <td>[j]</td>
        <td>yes	напоминает русский звук "й", но звучит менее отчётливо</td>
    </tr>
    <tr>
        <td>[g]</td>
        <td>good близок к русскому "г"</td>
    </tr>
    <tr>
        <td>[m]</td>
        <td>mother близок к русскому звуку "м", но мягче</td>
    </tr>
    <tr>
        <td>[ʃ]</td>
        <td>ship напоминает русский звук "ш", но звучит более мягко</td>
    </tr>
    <tr>
        <td>[ʒ]</td>
        <td>treasure звонкий звук, близок к русскому "ж" в слове "жить", но при этом звучит мягко</td>
    </tr>
</table>
<br>
<h4>Как русский, но с предыханием</h4>
<table class="table_body">
    <tr>
        <td>[p]</td>
        <td>pen	произносится с аспирацией (резким выталкиванием воздуха из ротовой полости)</td>
    </tr>
    <tr>
        <td>[k]</td>
        <td>kind произносится с аспирацией (выдохом)</td>
    </tr>
</table>
<br>
<h4>Как русский, но на альвеолах</h4>
<table class="table_body">
    <tr>
        <td>[d]</td>
        <td>disk близок к русскому звуку [ д ], но произносится на альвеолах</td>
    </tr>
    <tr>
        <td>[t]</td>
        <td>tip произносится с кончиком языка на альвеолах (бугорках над зубами) и аспирацией</td>
    </tr>
    <tr>
        <td>[l]</td>
        <td>lake произносится как [ л ], но с кончиком языка на альвеолах</td>
    </tr>
    <tr>
        <td>[n]</td>
        <td>name близок к русскому звуку [ н ], но произносится на альвеолах</td>
    </tr>
    <tr>
        <td>[tʃ]</td>
        <td>chain похож на русский звук [ ч ], произнесенный на альвеолах</td>
    </tr>
    <tr>
        <td>[dʒ]</td>
        <td>jest [d + ʒ], артикулируется так же, как [t + ʃ], но произносится звонко</td>
    </tr>
</table>
<br>
<h4>Новые звуки</h4>
<table class="table_body">
    <tr>
        <td>[r]</td>
        <td>rose при произнесении кончик языка сильно поднят вверх (к задней части альвеол), язык не вибрирует</td>
    </tr>
    <tr>
        <td>[ŋ]</td>
        <td>song приблизительно получается, если произнести звук [ н ] в носоглотке</td>
    </tr>
    <tr>
        <td>[w]</td>
        <td>губы в трубочку, а затем резко на место</td>
    </tr>
    <tr>
        <td>[θ]</td>
        <td>"c" - язык между зубами</td>
    </tr>
    <tr>
        <td>[ð]</td>
        <td>"з" - язык между зубами</td>
    </tr>
</table>
<br>
<h3>Гласные монофтонги</h3>
<img class="displayed" src="{% static 'english_dict/images/english_vowels.jpg' %}" >
<table class="table_body">
    <tr>
        <td>[ʊ]</td>
        <td>put	краткий "у", со слабым округдением губ "c <b><i>у</i></b>тра"</td>
    </tr>
    <tr>
        <td>[u:]</td>
        <td>zoo длительное [ʊ] "утро"</td>
    </tr>
    <tr>
        <td>[I]</td>
        <td>sing краткое "и", как интенсивно произнесенный союз "и"</td>
    </tr>
    <tr>
        <td>[i:]</td>
        <td>be	длительное [i], но более мягко. Как "реинкарнация", "лист"</td>
    </tr>
    <tr>
        <td>[e]</td>
        <td>pen звук, как в слове "плед", "это", "шесть"</td>
    </tr>
    <tr>
        <td>[ʌ]</td>
        <td>kup краткое "а", как в "варить", "д<b><i>о</i></b>ма (мн.ч.)"</td>
    </tr>
    <tr>
        <td>[ɑ:]</td>
        <td>park длительное открытое "а", как в словах "бал", "зал", "спал"</td>
    </tr>
    <tr>
        <td>[ɜ:]</td>
        <td>girl звучит, как "ё" в протяжно сказанном слове "мёд"</td>
    </tr>
    <tr>
        <td>[ɔ:]</td>
        <td>tall длительное открытое "о", как в слове "ф<b><i>о</i></b>то"</td>
    </tr>
    <tr>
        <td>[ə]</td>
        <td>teacher	напоминает нечто среднее между безударными русскими звуками "а" и "э", как в "йог<b><i>а</i></b>"</td>
    </tr>
    <tr>
        <td>[æ]</td>
        <td>cat	как "я" в "мяч" и "пять"</td>
    </tr>
    <tr>
        <td>[ɒ|ɔ]</td>
        <td>box краткий, открытый "о", это 2 разных звука. ɔ - это краткое "о", звука "ɒ" у нас нет см схему</td>
    </tr>
</table>
<br>
<h3>Гласные дифтонги</h3>
<table class="table_body">
    <tr>
    <td>[əʊ]</td>
      <td>no близок к русскому звукосочетанию "оу"</td>
    </tr>
    <tr>
        <td>[aʊ]</td>
        <td>out звучит примерно так же, как "ау" в слове "Ф<b><i>ау</i></b>ст"</td>
    </tr>
    <tr>
        <td>[ei]</td>
        <td>say близко по звучанию к "ей" в слове "бей"</td>
    </tr>
    <tr>
        <td>[ɔi]</td>
        <td>boy звучит как "ой" в слове "бой", но более открыто</td>
    </tr>
    <tr>
        <td>[ai]</td>
        <td>fly - "ай"</td>
    </tr>
    <tr>
        <td>[iə]</td>
        <td>clear начинается с [i] и заканчивается скольжением в направлении нейтрального звука [ə] - "иа"</td>
    </tr>
    <tr>
        <td>[ʊə]</td>
        <td>poor начинается с краткого [ʊ] и заканчивается нейтральным [ə] - "уа"</td>
    </tr>
    <tr>
        <td>[eə]</td>
        <td>where начинается с [e] (как "плед") и заканчивается скольжением к нейтральному [ə] (безударное "а")</td>
    </tr>
</table>
<br>
<h3>Ударения</h3>
<p>
Ударения старятся не над согласной, а перед слогом.<br>
request [ri'kwest]<br><br>
В длинных словах:<br>
civilization [,siv(ə)lai'zeiʃ(ə)n], где<br>
(ə) - при быстром произношении может терятся<br>
' - основное ударение<br>
, - менее явное ударение<br>
</p>
{% endblock %}